@page "/"

<header class="header">
    <h1>todos</h1>
    <form id="todo-form">
        <input class="new-todo" placeholder="What needs to be done?" autofocus=""/>
    </form>
</header>

<section class="main">
    <input id="toggle-all" class="toggle-all" type="checkbox" />
    <label for="toggle-all">Mark all complete</label>
    <ul class="todo-list">
        <li>
            <div class="view">
                <input class="toggle" type="checkbox"/>
                <label></label>
                <button class="destroy"></button>
            </div>
                <input class="edit"/>
        </li>
    </ul>
</section>

<footer class="footer">
    <span class="todo-count"><strong>0 </strong>items left</span>
    <button class="clear-completed">Clear completed</button>
</footer>
