@inherits BlazorLayoutComponent

<section class="todoapp">
    @Body
</section>

<footer class="info">
    <NavLink href="/">Home</NavLink><br /> | <NavLink href="/About">See About</NavLink><br />
    <p>Double-click to edit a todo</p>
    <p>
        Created by <a href="http://github.com/tdbrian">Thomas Brian</a>
        using <a href="https://blazor.net/">Blazor</a>
    </p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>